{% extends 'layout.html' %}

{% block content %}
<div class="row" style="margin-top: 10px;">
    <div class="col-12 main-content-wrapper">
        <div class="main-content">
            <h4>About</h4>
            <p>I am a first year PhD student at UMass-Amherst advised by Andrew McCallum. My current research interests are generating knowledge bases from raw text and vice versa.</p>
            <center>
            <a class="glow" href="http://github.com/mrdrozdov">github</a>
             &#149; 
            <a class="glow" href="http://twitter.com/mrdrozdov">twitter</a>
             &#149; 
            <a class="glow" href="mailto:andrew@mrdrozdov.com">email</a>
            </center>
        </div>
    </div>
</div>
{% endblock %}
