{% extends 'layout.html' %}

{% block content %}
<div class="row" style="margin-top: 10px;">
    <div class="col-12 main-content-wrapper">
        <div class="main-content">
            <h4>About</h4>
            <p>I am a first year PhD student at UMass-Amherst studying deep learning and natural language processing.</p>
            <p>Previously, I worked at eBay as a research engineer on their recommendation systems, and at Okta and Datadog as a software engineer on various small projects. I completed my Bachelor's in Computer Science at the University of Michigan where I worked on emotion recognition with Emily Mower Provost, and my Master's in Computer Science from New York University collaborating with Samuel Bowman on learning latent structure of sentences and Kyunghyun Cho on emergent language between communicating agents.</p>
            <h4>Contact</h4>
            <p>
            <a class="glow" href="http://github.com/mrdrozdov">github</a>
             &#149; 
            <a class="glow" href="http://twitter.com/mrdrozdov">twitter</a>
             &#149; 
            <a class="glow" href="mailto:andrew@mrdrozdov.com">email</a>
            </p>
        </div>
    </div>

</div>
{% endblock %}
