{% extends 'layout.html' %}

{% block content %}
<div class="row" style="margin-top: 10px;">
<div class="col-xs-12 text-center">
In 2013, I graduated with a Bachelor's in Computer Science from the University of Michigan. While there I attended some awesome courses, and worked on emotion recognition with Emily Mower Provost. After a short stint in Silicon Valley, I went to New York University for a Master's in Computer Science. I graduated from NYU in 2016, and while there I was a member of the CILVR lab, collaborating with Samuel Bowman and Kyunghyun Cho.
</div>
</div>
{% endblock %}
