<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
    ul {
        list-style-type: none;
    }
    </style>
</head>

<body>
    <center>
        <header>
        <h1>Andrew Drozdov</h1>
        <p>Machine Learning Researcher in NYC</p>
        <p>
            <a href="/index.html">home</a>

            <a href="/blog">blog</a>

            <a href="/papers">papers</a>

            <a href="http://github.com/mrdrozdov">github</a>

            <a href="http://twitter.com/mrdrozdov">twitter</a>

            <a href="/about.html">about</a>
        </p>
        </header>

        <h3>Blog</h3>
        <p>
            <ul>
            {% for post in posts %}
                <li><a href="{{ post.url }}">{{ post.title }}<a></li>
            {% endfor %}
            </ul>
        </p>
    </center>
    
</body>
</html>
