{% extends 'layout.html' %}

{% block content %}

<div class="row" style="margin-top: 10px;">

    <div class="col-12 main-content-wrapper">
        <div class="main-content">
            <dl>
                <dt class="font-weight-normal">Research Projects</dt>
                <dd>Pytorch Neural Shift-Reduce Parser
                    <br> [<a href="https://github.com/nyu-mll/spinn">code</a>]
                </dd>
                <dd>Emergent Communication with Adaptive Conversation Length
                    <br> [<a href="https://github.com/nyu-dl/MultimodalGame">code</a>]
                </dd>
                <dd>Unsupervised Grammar Induction and Phrase Representation
                    <br> [<a href="https://github.com/iesl/diora">code</a>]
                </dd>
            </dl>

            <dl>
                <dt class="font-weight-normal">Miscellaneous</dt>
                <dd>git-tmp
                    <br> Create a temporary directory for a git branch in order to compare changes side-by-side.
                    <br> [<a href="https://gist.github.com/mrdrozdov/aa7c22fd01c479e9b585beb14dc962e6">code</a>]
                </dd>
            </dl>
        </div>
    </div>

</div>
{% endblock %}
