{% extends 'layout.html' %}

{% block content %}

<div class="row" style="margin-top: 10px;">
    <div class="col-12 main-content-wrapper">
        <div class="row main-content">

            <div class="col-3">
                <div class="card main-card">
                    <img class="card-img-top" src="/static/img/milkshake.jpg">

                    <div style="margin-top: 30px;">
                        <p>I'm a PhD student at UMass Amherst co-advised by Professors Andrew McCallum and Mohit Iyyer, and member of <a href="http://nlp.cs.umass.edu/">UMass NLP</a></p>

                        <p>
                            <a class="glow" style="display: inline-block;" href="http://github.com/mrdrozdov">
                                <i class="fab fa-github" style="font-size: 15px;"></i>
                            </a>
                             &nbsp;
                            <a class="glow" style="display: inline-block;" href="http://twitter.com/mrdrozdov">
                                <i class="fab fa-twitter" style="font-size: 15px;"></i>
                            </a>
                             &nbsp;
                            <a class="glow" style="display: inline-block;" href="mailto:andrew@mrdrozdov.com">
                                <i class="fas fa-at" style="font-size: 15px;"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-9">

                <h4 class="font-weight-normal">Research</h4>

                <dl>
                    <dt class="font-weight-normal">Main Conference</dt>
                    <dd>Zhiyang Xu, Andrew Drozdov, Jay Yoon Lee, Tim O'Gorman, Subendhu Rongali, Dylan Finkbeiner, Shilpa Suresh, Mohit Iyyer and Andrew McCallum
                        <br> Improved Latent Tree Induction with Distant Supervision via Span Constraints
                        <br> EMNLP 2021
                    </dd>
                    <dd>Andrew Drozdov, Subendhu Rongal, Yi-Pei Chen, Tim O'Gorman, Mohit Iyyer, Andrew McCallum
                        <br> Unsupervised Parsing with S-DIORA: Single Tree Encoding for Deep Inside-Outside Recursive Autoencoders
                        <br> EMNLP 2020
                        <br> [<a href="/static/papers/sdiora.pdf">paper</a>]
                    </dd>
                    <dd>Andrew Drozdov, Pat Verga, Yi-Pei, Mohit Iyyer, Andrew McCallum
                        <br> Unsupervised Labeled Parsing with Deep Inside-Outside Recursive Auto-Encoders
                        <br> EMNLP 2019
                        <br> [<a href="https://www.aclweb.org/anthology/D19-1161/">paper</a>]
                    </dd>
                    <dd>Andrew Drozdov, Pat Verga, Mohit Yadav, Mohit Iyyer, Andrew McCallum
                        <br> Unsupervised Latent Tree Induction with Deep Inside-Outside Recursive Auto-Encoders
                        <br> NAACL 2019
                        <br> [<a href="https://arxiv.org/abs/1904.02142">paper</a>] [<a href="https://github.com/iesl/diora">code</a>]
                    </dd>
                    <dd>Katrina Evtimova, Andrew Drozdov, Douwe Kiela, Kyunghyun Cho
                        <br> Emergent Communication in a Multi-Modal, Multi-Step Referential Game
                        <br> ICLR 2018
                        <br> [<a href="https://arxiv.org/abs/1705.10369">paper</a>] [<a href="https://github.com/nyu-dl/MultimodalGame">code</a>]
                    </dd>
                    <dd>Adina Williams, Andrew Drozdov, Samuel Bowman
                        <br> Learning to parse from a semantic objective: It works. Is it syntax?
                        <br> TACL 2018
                        <br> [<a href="https://arxiv.org/abs/1709.01121">paper</a>] [<a href="https://github.com/nyu-mll/spinn">code</a>]
                    </dd>
                </dl>

                <dl>
                    <dt class="font-weight-normal">Workshop</dt>
                    <dd>Swarup Satish, Zonghai Yao, Andrew Drozdov, Boris Veytsman
                        <br> The impact of preprint servers in the formation of novel ideas
                        <br> EMNLP 2020
                        <br> [<a href="https://ornlcda.github.io/SDProc/">Workshop on Scholarly Document Processing</a>]
                    </dd>
                    <dd>Andrew Drozdov and Samuel Bowman
                        <br> The Coadaptation Problem when Learning How and What to Compose
                        <br> ACL 2017 (Extended Abstract)
                        <br> [<a href="https://sites.google.com/site/repl4nlp2017/accepted-papers">Workshop on Representation Learning for NLP</a>]
                    </dd>
                </dl>

                <dl>
                    <dt class="font-weight-normal">Unpublished Work</dt>
                    <dd>Katrina Evtimova and Andrew Drozdov (Advised by David Sontag)
                        <br> Understanding Mutual Information and its use in InfoGAN
                        <br> Course Paper for Inference and Representation (2016)
                        <br> [<a href="/static/papers/infogan.pdf">paper</a>] [<a href="https://cds.nyu.edu/cds-faculty-students-sweep-awards/">award</a>]
                    </dd>
                    <dd>S&eacute;bastien Jean, Andrew Drozdov, and Arpit Jain
                        <br> POS Tagging and Chunking with Subword2Word Models
                        <br> Course Paper for Statistical Natural Language Processing (2015)
                        <br> [<a href="/static/papers/subword.pdf">paper</a>]
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% endblock %}