{% extends 'layout.html' %}

{% block content %}

<div class="row" style="margin-top: 3rem;">
    <div class="col-12 text-center">
        <h4>Titles Only</h4>
        <ul class="list-unstyled">
            <li>A Deep Syntactic Model for Semantic Tasks</li>
            <li>The Catalan Pyramid Distribution for Uniformly Sampling Binary Trees</li>
            <li>Pairwise Ranking for Natural Language Inference</li>
            <li>A Neural Bottom-up Generative Parser</li>
            <li>Posterior Regularization vs Reward Tuning for Inductive Tasks</li>
            <li>Learning to Communicate with Grammatical Sentences</li>
            <li>The Hot Seat: Subjective Inspection with Black Box Language Models</li>
        </ul>
    </div>
</div>

{% endblock %}