{% extends 'layout.html' %}

{% block content %}

<div class="row" style="margin-top: 10px;">

    <div class="col-12 main-content-wrapper">
        <div class="main-content">
            <h4 class="font-weight-normal">Papers</h4>

            <dl>
                <dt class="font-weight-normal">Workshop Papers</dt>
                <dd>Andrew Drozdov and Samuel Bowman. The Coadaptation Problem when Learning How and What to Compose. 2017. Extended Abstract. (<a href="https://sites.google.com/site/repl4nlp2017/accepted-papers">workshop</a>)</dd>
            </dl>


            <dl>
                <dt class="font-weight-normal">Unpublished Work</dt>
                <dd>
                Adina Williams, Andrew Drozdov, Samuel Bowman. 2017. Learning to parse from a semantic objective: It works. Is it syntax? (<a href="https://arxiv.org/abs/1709.01121">pdf</a>)
                </dd>
                <dd>Katrina Evtimova, Andrew Drozdov, Douwe Kiela, Kyunghyun Cho. 2017. Emergent Language in a Multi-Modal, Multi-Step Referential Game. (<a href="https://arxiv.org/abs/1705.10369">pdf</a>, <a href="https://github.com/nyu-dl/MultimodalGame">source</a>)</dd>
                <dd>Katrina Evtimova and Andrew Drozdov. Advised by David Sontag. 2016. Understanding Mutual Information and its use in InfoGAN. (<a href="/papers/infogan.pdf">pdf</a>)</dd>
                <dd>Andrew Drozdov. 2016. Batched Shift Reduce Parsing with lists of Vectors on CUDA. (<a href="/papers/batched-spinn.pdf">pdf</a>)</dd>
                <dd>S&eacute;bastien Jean, Andrew Drozdov, and Arpit Jain. 2015. POS Tagging and Chunking with Subword2Word Models. (<a href="/papers/subword.pdf">pdf</a>)</dd>
            </dl>
        </div>
    </div>

</div>
{% endblock %}
