{% extends 'layout.html' %}

{% block content %}

<div class="row" style="margin-top: 10px;">

    <div class="col-12 main-content-wrapper">
        <div class="main-content">
            <h4 class="font-weight-normal">Papers</h4>

            <dl>
                <dt class="font-weight-normal">Main Conference</dt>
                <dd>Katrina Evtimova, Andrew Drozdov, Douwe Kiela, Kyunghyun Cho
                    <br> Emergent Communication in a Multi-Modal, Multi-Step Referential Game
                    <br> Accepted as Poster at ICLR 2018
                    <br> <a href="https://arxiv.org/abs/1705.10369">pdf</a>, <a href="https://github.com/nyu-dl/MultimodalGame">source</a>
                </dd>
                <dd>Adina Williams, Andrew Drozdov, Samuel Bowman
                    <br> Learning to parse from a semantic objective: It works. Is it syntax?
                    <br> Accepted for Publication in TACL 2018
                    <br> <a href="https://arxiv.org/abs/1709.01121">pdf</a>, <a href="https://github.com/nyu-mll/spinn">source</a>
                </dd>
            </dl>

            <dl>
                <dt class="font-weight-normal">Workshop</dt>
                <dd>Andrew Drozdov and Samuel Bowman
                    <br> The Coadaptation Problem when Learning How and What to Compose
                    <br> Accepted as Extended Abstract at ACL 2017
                    <br> <a href="https://sites.google.com/site/repl4nlp2017/accepted-papers">workshop</a>
                </dd>
            </dl>

            <dl>
                <dt class="font-weight-normal">Unpublished Work</dt>
                <dd>Katrina Evtimova and Andrew Drozdov (Advised by David Sontag)
                    <br> Understanding Mutual Information and its use in InfoGAN
                    <br> Course Paper for Inference and Representation (2016)
                    <br> <a href="/papers/infogan.pdf">pdf</a>
                </dd>
                <dd>S&eacute;bastien Jean, Andrew Drozdov, and Arpit Jain
                    <br> POS Tagging and Chunking with Subword2Word Models
                    <br> Course Paper for Statistical Natural Language Processing (2015)
                    <br> <a href="/papers/subword.pdf">pdf</a>
                </dd>
            </dl>
        </div>
    </div>

</div>
{% endblock %}
