{% extends 'layout.html' %}

{% block content %}

<div class="row" style="margin-top: 10px;">
<div class="col-xs-12">
    <p>Workshop Papers:</p>

    <p>Andrew Drozdov and Samuel Bowman. The Coadaptation Problem when Learning How and What to Compose. 2017. Extended Abstract. (<a href="https://sites.google.com/site/repl4nlp2017/accepted-papers">workshop</a>)</p>

    <p>Unpublished Work:</p>

    <p>Katrina Evtimova, Andrew Drozdov, Douwe Kiela, Kyunghyun Cho. 2017. Emergent Language in a Multi-Modal, Multi-Step Referential Game. (<a href="https://arxiv.org/abs/1705.10369">pdf</a>, <a href="https://github.com/nyu-dl/MultimodalGame">source</a>)</p>
    <p>Katrina Evtimova and Andrew Drozdov. Advised by David Sontag. 2016. Understanding Mutual Information and its use in InfoGAN. (<a href="/papers/infogan.pdf">pdf</a>)</p>
    <p>Andrew Drozdov. 2016. Batched Shift Reduce Parsing with lists of Vectors on CUDA. (<a href="/papers/batched-spinn.pdf">pdf</a>)</p>
    <p>S&eacute;bastien Jean, Andrew Drozdov, and Arpit Jain. 2015. POS Tagging and Chunking with Subword2Word Models. (<a href="/papers/subword.pdf">pdf</a>)</p>
</div>
</div>
{% endblock %}
