{% extends 'layout.html' %}

{% block content %}
<div class="row" style="margin-top: 10px;">
    <div class="col-12 main-content-wrapper">
        <div class="main-content">
            <div class="row">
                <div class="blog-post-title col-12" style="font-weight: bold;">{{ title }}</div>
            </div>
            <div class="row">
                <div class="blog-post-date col-12" style="font-style: italic;">{{ date }}</div>
            </div>
            <div class="row">
                <div class="blog-post-body col-12">
                    {{ body }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}