{% extends 'layout.html' %}

{% block content %}
<div class="row" style="margin-top: 10px;">
    <div class="col-12 main-content-wrapper">
      <div class="main-content">

        <h4>Reading and Viewing Recommendations</h4>

<div class="grid">
  <div class="grid-item">
    <!-- Fall 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FThe-7th-Function-of-Language-Paperback-2017%2F879348748%3Fiid%3D142611018848">
        <img class="card-img" src="https://1.bp.blogspot.com/-4_Reipi20qs/WRWAHQY9i_I/AAAAAAAAcUY/DFI0WejjkcovgCLcYvowQqefAHr40myZwCLcB/s1600/2017.05.12-The-7th-Function-of-Language---Laurent-Binet---C%2527est-ci-n%2527est-pas-une-pipe---LOGOS-CLUB---Peter-Tyndall-600.png" alt="The 7th Function of Language">
    </a>
  </div>
  
  <div class="grid-item">
    <!-- November 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fi%2F172444817693%3Frt%3Dnc">
        <img class="card-img" src="https://vulpeslibris.files.wordpress.com/2013/03/quizshowposter.jpg" alt="Quiz Show">
    </a>
  </div>

  <div class="grid-item">
    <!-- Summer 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FThe-Paper-Chase-DVD-2003%2F3440042">
        <img class="card-img" src="https://cdn.cinematerial.com/p/297x/uvc2ggbb/the-paper-chase-movie-poster-md.jpg" alt="The Paper Chase">
    </a>
  </div>

  <div class="grid-item">
    <!-- December 2013 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FReamde-by-Neal-Stephenson-2011-Book-Other%2F102730554">
        <img class="card-img" src="https://d.gr-assets.com/books/1305993115l/10552338.jpg" alt="REAMDE">
    </a>
  </div>

  <div class="grid-item">
    <!-- Summer 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575352988&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSolaris-by-Stanislaw-Lem-English-Paperback-Book-%2F160943021814">
        <img class="card-img" src="https://i.pinimg.com/736x/b2/e1/6b/b2e16b82b7e92ae9d84bc2c428ea9f57--beautiful-book-covers-literature-books.jpg" alt="Solaris">
    </a>
  </div>

  <div class="grid-item">
    <!-- Spring 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fi%2F263328835076%3Fchn%3Dps">
        <img class="card-img" src="https://image.tmdb.org/t/p/w600/4xv8Krcez8lbN5tKs02mQbDEmn6.jpg" alt="Jeeves & Wooster">
    </a>
  </div>

  <div class="grid-item">
    <!-- December 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FOrigin-by-Dan-Brown-2017-Hardcover%2F229519000">
      <img class="card-img" src="http://thevdp.com/wp-content/uploads/2017/10/origin.jpg" alt="Origin">
    </a>
  </div>

  <div class="grid-item">
    <!-- January 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fi%2F302576785066%3Fchn%3Dps">
      <img class="card-img" src="https://pictures.abebooks.com/isbn/9781847442406-us-300.jpg" alt="The Swan Thieves"/>
    </a>
  </div>

  <div class="grid-item">
    <!-- Summer 2017 -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FRoadside-Picnic-by-Boris-Strugatsky-9780575093133-paperback-2012%2F1803065545">
      <img class="card-img" src="https://images.gr-assets.com/books/1173812259l/331256.jpg" alt="Stalker"/>
    </a>
  </div>

  <div class="grid-item">
    <!-- Summer 2017 -->
    <!-- https://www.salon.com/2011/03/29/the_art_of_asking_your_boss_for_a_raise_georges_perec/ -->
    <!-- Might Like: [Life: A User's Manual](https://www.goodreads.com/book/show/28293.Life_A_User_s_Manual) -->
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338225341&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FThe-Art-of-Asking-Your-Boss-for-a-Raise-by-Perec-Georges-%2F142617969355">
      <img class="card-img" src="https://media.salon.com/2011/03/the_art_of_asking_your_boss_for_a_raise.jpg" alt="The Art"/>
    </a>
  </div>

</div>
    </div>

    </div>
</div>
{% endblock %}